:host {
  display: flex;
  flex-direction: column;
}

.main {
  background-color: darkgray;
  width: 100%;
  padding: 10px;
}

.ample {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.bar {
  padding: 10px 10px 10px 10px;
  border: 3px solid black;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.token {
  width: auto;
  background-color: lightgray;
  padding: 10px;
  overflow: auto;
  word-wrap: anywhere;
}

.token-container {
  width: 80%;
  div {
    padding: 5px;
  }
}

@mixin http-message-container {
  padding: 3px;
  background-color: lightgray;
}

.message {
  @include http-message-container;
}

.error {
  @include http-message-container;
  color: red;
}

textarea {
  width: 99%;
  height: 500px;
}
