<div class="bar">
  <div class="ample" [ngStyle]="{'background-color':authenticated?'green': 'red'}"></div>

  <div *ngIf="authenticated" class="token-container">
    <div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Access Token</mat-expansion-panel-header>
        <div class="token">
          {{ accessToken }}
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Decoded Access Token</mat-expansion-panel-header>
        <div class="token">
        <textarea id="decoded" disabled>
            {{ decodedToken }}
        </textarea>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<button (click)="login()" *ngIf="!authenticated">login</button>
<button (click)="logout()" *ngIf="authenticated">logout</button>

</div>
<div class="main">
  <h2>
    Test services:
  </h2>
  <div>
    <button (click)="callService('/api/public/')">Public</button>
    <button (click)="callService('/api/protected')">Protected</button>
    <button (click)="callService('/api/protected/admin')">Protected (Role Based)</button>
    <div class="message" *ngIf="responseTxt.length > 0">
      Response:
      <div>
        {{ responseTxt }}
      </div>
    </div>
    <div class="error" *ngIf="errorTxt">
      Error:
      <div>
        {{ errorTxt }}
      </div>
    </div>
  </div>

</div>


<router-outlet/>
